@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

body {
    font-family: Montserrat, serif;
    margin: 0;
}

.nav-container {
    background: grey;
    display: flex;
}

.logo-esme {
    alignment: right;
}

.logo-citeos {
    padding-top: 15px;
    padding-left: 10px;
    alignment: left;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    padding: 20px 10px 10px;
}

.content {
    padding: 30px;
    display: grid;
}

.button {
    width: 200px;
    height: 50px;
    font-weight: 500;
    font-size: 1em;
}

#pred-result {
    padding-top: 20px;
    font-weight: 300;
    font-size: 4em;
}

#advice {
    padding-top: 20px;
    font-weight: 300;
    font-size: 2em;
}