@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

body {
    margin: 0;
}

.nav-container {
    background: grey;
    display: flex;
}

.logo-esme {
    alignment: right;
}

.logo-citeos {
    padding-top: 15px;
    padding-left: 10px;
    alignment: left;
}

.title {
    width: 100%;
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 2em;
    padding: 10px;
}
